<div class="title">
  <h1>Todos os clientes</h1>
  <div> 
    <a href="/clientes" class="btn">Home</a>
    <a href="/clientes/add" class="btn">Cadastrar um novo cliente</a>
  </div>
</div>


<ul class="cliente">
  {{#each clientes}}
  <li>
  <div>
    <div class="ajuste">
      <div>
        <label for="">Nome: {{this.nome}}</label>
      </div>
      <div>
        <label for="">Sobrenome: {{this.sobrenome}}</label>
      </div>
      <div>
        <label for="">Data de Nascimento: {{this.data_nascimento}}</label>
      </div>
      <div>
        <label for="">CPF: {{this.cpf}}</label>
      </div>
      <div>
        <a href="/clientes/edit/{{this.id}}">
          Editar Cliente
        </a>
      </div>
      <div>
        <form action="/clientes/remove" method="post">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit" value="Remover" class="btn-inicial" id="btn-excluir" >
            <i>Excluir</i>
          </button>
        </form>
      </div>
    </div>
  </div>
  </li>

  {{/each}}
</ul>



</div>